@font-face {
  font-family: 'Audio Nugget';
  src: url('fonts/audionugget.ttf') format('truetype');
}

@font-face {
  font-family: 'Apfel Grotezk';
  src: url('fonts/apfelgrotezk.ttf') format('truetype');
}

header {
  width: 100%;
  text-align: left;
  margin: 20px; /* Reset margin */
  padding: 0px; /* Reset padding */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}

.header-logo {
  width: 300px;
  height: auto;
}

.header-logo:hover{
  scale: 1.1;
  rotate: 5deg;
  filter: hue-rotate(10deg);
}


.menu {
  margin: 20px;
  padding: 20px;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 0;
}

.menu ul li {
  margin: 0;
  padding: 0;
}

.menu ul li a {
  text-decoration: none;
  color: #001c64;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-size: 1.5em;
}

.menu ul li a:hover {
  color: white;
  scale: 1.1;
  text-shadow: 0 0 10px #ff35a8, 0 0 20px #ff35a8, 0 0 30px #ff35a8, 0 0 40px #ff35a8, 0 0 50px #ff35a8, 0 0 60px #ff35a8, 0 0 70px #ff35a8;
  transform: scale(1.1) rotate(5deg); /* Add rotation */
  transition: transform 0.3s ease; /* Smooth transition */
}

body {
  margin: 0;
  color: #001c64;
  padding: 20px;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  background-image: url('bg-placeholder.png'); /* Set the background image */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  height: 100vh;
}

.wrapper {
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-grow: 1; 
margin-left: 20px;
margin-right: 20px;
}

h1 {
  font-family: 'Audio Nugget', sans-serif;
  color: yellow;
}

#not-friendly {
  font-style: italic;
  color: #ff48b0;
  font-size: 16px;
  text-align: center;
  top: 50%;
  left: 50%;
  pointer-events: none; /* Ensure it doesn't interfere with other elements */
}

.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  border-color: #ff48b0;
  border-style: dotted;
  border-radius: 20px;
  border-width: 5px;
  background-image: url('bg-white.gif'); 
  background-size: cover;
}

.controls {
  margin: 20px;
  display: flex;
  flex-direction: column;
  /* background-color: red; */
}
.controls-all-column{
  margin: 20px;
  display: flex;
  flex-direction: row;
}
.controls-column {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

h2{
  margin: 0;
  padding: 5px 0;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
  font-size: 20px;
}

p{
  font-size: 14px;
}


#canvas-holder {
  width: 400px;
  height: 400px;
  box-shadow: 0 4px 8px 0 rgba(255, 72, 177, 0.2), 0 6px 20px 0 rgba(255, 72, 177, 0.19);
}

.canvas-container {
  margin: 20px;
  padding-top: 30px;
  align-content: center;
}

#mobile-export{
  font-size: 9px;
}

input[type="range"] {
  width: 170px;
  max-width: 100%; 
  color: #001c64;
  border: 2px #ff48b0 solid;
  padding: 0.3vw;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  accent-color: #ff48b0;
}

select {
  width: 190px; 
  max-width: 100%; 
  color: #001c64;
  border: 2px #ff48b0 solid;
  padding: 0.3vw;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  accent-color: #ff48b0;

}

select:hover{
  box-shadow: 0px 0px 10px 0px #f7ff00;
}

label{ 
  font-family: "Space Mono", monospace;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
}

select:hover, input[type="range"]:hover {
  scale: 1.0;
  color: #ffffff;
  background-color: #ff48b0;
}

select:hover, input:hover [type="range"] {
  scale: 1.0;
  color: #ffffff;
  background-color: #ff48b0;
}

button {
  color: #001c64;
  border: 2px #ff48b0 solid;
  padding: 0.3vw;
  /* border-radius: 20vw; */
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  background-color: #ffffff;
}

button:hover{
  scale: 1.0;
  color: #ffffff;
  background-color: #ff48b0;
  box-shadow: 0px 0px 10px 0px #f7ff00;
}

.export-buttons {
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
}

.export-button-columns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer{
  justify-content: center;
  align-items: center; 
  mix-blend-mode: color-dodge;
  margin-left: 20px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: #5ec8e5;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
  box-shadow: 0px 0px 10px 0px #f7ff00;
  font-size: 10px;
  color: #ffffff;
  transform: translateX(-10px);
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  transform: translateX(0);
}
